@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono:ital,wght@1,500&display=swap');
body{
    background-color: #000000;  
}
.lol{
font-family: Bebas Neue;
font-style: normal;
font-weight: bold;
font-size: 80px;
line-height: 90px;
}